################################################################
#应用ID和应用密钥在 Eova社区>我的项目 http://www.eova.cn/app 注册获取, 请勿将自己的应用配置泄漏给其它人

#应用ID
app_id =eova4145594589848850
#应用密钥
app_secret =NcefV1KwNC9j660rqaMQhhssAbViQrdT9MvmKjwAUdVHZXSKSSwDMgFEe18QJV4ixe8NK1Yj80+7z2QWWIQ9gw8mQR3sgr+Izjn8GAmLx9Vm5uBW5E+mR89Y/xQkNK/sYGOU2fGaHhBAV5TK5tkLYLXqsApifwj45wlNj2CJXhU=
################################################################
#上述配置还可以藏到代码AppConfig.license()或 eova.eova_config

#初始化启动配置
#----------------------------------
#JFinal开发模式(输出JF控制台日志)
devMode = false
#环境标识：开发环境=DEV,测试环境=TEST,预发布环境=PRE,正式环境=PRD
env = PRD
#上传根目录
static_root = /data/static/eova

#数据库配置
#----------------------------------
#事务级别(MYSQL=4,Oralce=2)
db.transaction_level = 4
#是否输出SQL日志
db.showsql = true
#数据源集
db.datasource = eova,main,bill

#EOVA数据源
#eova.url = jdbc:mysql://127.0.0.1:3306/bill_eova?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull&serverTimezone=GMT%2B8
#eova.user = root
#eova.pwd = root
eova.url = jdbc:sqlserver://10.1.30.178:1433;DatabaseName=FolioDataSync
eova.user = sa
eova.pwd = sysnet3516

#默认数据源
#main.url = jdbc:mysql://127.0.0.1:3306/bill_demo?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull&serverTimezone=GMT%2B8
#main.user = root
#main.pwd = root
main.url =jdbc:sqlserver://10.1.30.178:1433;DatabaseName=FolioDataSync
main.user = sa
main.pwd = sysnet3516

#其他数据源
bill.url = jdbc:sqlserver://10.1.31.156:1433;DatabaseName=readingAccount
bill.user = mju
bill.pwd = YdzD*2019

#修改配置的正确玩法
#----------------------------------
#本地修改:
#开发者本工程内创建新配置文件:src/main/resources/dev/app.config

#线上修改:
#运维在服务器上创建新配置文件(启用如下配置项指定线上配置位置)
#env_config_path = home/eova/config/eova-pro/app.config

#除了启动必须的, 其它配置建议放入数据库中的eova_config表中
#在[平台维护] > [配置管理] 中进行维护